/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  max-width: 90%;
  margin: auto;
}

.header_card {
  width: 50%;
  min-width: 300px;
  margin: 0 auto 0 auto;
}

.warning {
  background-color: orange;
  padding: 5px;
  color: orangered;
} 
.success {
  background-color: lightgreen;
  padding: 5px;
  color: darkgreen;
}